//fonts
$main-text: "Barlow", sans-serif;
$headers-text: "Barlow", sans-serif;
$logo-app: $main-text;

//colors
$header-background: #febd27;
$header-text-color: #00042b;
$main-background-color: #00042b;
$title-background-color: #ffffff;
$main-text-color: #ffffff;
$button-background-color: #febd27;
$button-hover-color: #f4d07b;
$game-background-color: #00042b;
$bonus-background-color: #00042b;
$buttons-shadow: #a1acbd80;
